@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    line-height: 1.25;
	vertical-align: baseline;
    -webkit-text-size-adjust: none;
}

h1 {
    color: #1D004A;
    font-weight: 900;
    text-decoration: underline;
    font-size: 16px;
}

.wrapper {
    position: relative;
    font-family: 'Source Code Pro', monospace;
    max-width: 100%;
    width: 1280px;
}

.intro-text {
    display: block;
    margin: 40px auto;
    max-width: 810px;
    width: 100%;
}

.button a {
    display: block;
    width: 17%;
    margin: 20px auto;
    padding: 6px 12px;
    border: 1px solid #1D004A;
    border-radius: 5px;
    text-align: center;
    color: #1D004A;
    font-weight: 700;
    text-decoration: none; 
}

ul {
    list-style: square;
}

ul li {
    padding-bottom: 5px;
}

ul li a {
    color: black;
    cursor: pointer;
}

img {
    width: 100%;
}

.image {
    margin: 10px 0 40px 0;
}

.ext-link {
    color: #1D004A;
}

.video-frame {
    display: block;
    width: 80%;
    height: 400px;
    margin: 20px auto;
}

.video-frame-half {
    display: block;
    width: 47%;
    margin: 20px 20px 20px 0;
    float: left;
    height: 280px;
}

.video-frame-match {
    display: block;
    width: 47%;
    margin: 53px 20px 20px 0;
    float: left;
    height: 214px;
}


/* Media Queries */

@media screen and (max-width: 810px) {
    h1, p {
        font-size: 14px;
        margin: 10px 6px;
    }
}

@media screen and (max-width: 421px) {
    .button a {
        width: 20%
    }

    .video-frame-half {
        width: 100%;
        float: none;
        margin: 20px 0;
    }
}